@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
.head {
  font-family: "Noto Sans KR", serif;
  font-size: 3rem;
  text-align: center;
}

.middle {
  text-align: center;
  font-size: 5rem;
  color: coral;
  font-family: "Rubik Vinyl", serif;
}
