* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}
#page {
    width: 90vw;
    margin: 0 auto;
}
.logo {
    float: left;
    height: 3rem;
    margin-top: 10px;
}
.menu {
    float: right;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 10px;
}
.menu li {
    display: inline-block;
}
.main {
    clear: both;
    background-image: url("../../img/10_2_final_quiz.jpg");
    background-position: center;
    background-size: cover;
    padding-top: calc(4 / 16 * 100%);
}