footer {
    height: 3rem;
    background-color: #6495ED;
    color: white;
    font-style: italic;
}
.site-map {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    margin-left: 2rem;
}
.address {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    margin-right: 2rem;
}