#page {
    width: 99vw;
    height: 99vh;
}
section {
    float: none;
    width: 100%;
    height: 50%;
    background-color: yellow;
    padding: 0;
}
aside {
    float: none;
    width: 100%;
    height: 50%;
    background-color: green;
    padding: 0;
}
@media screen and (min-width: 768px){
    section {
        width: 50%;
        height: 50%;
        background-color: yellow;
        float: left;
    }
    aside {
        width: 50%;
        height: 50%;
        background-color: green;
        float: right;
    }  
}