h3 {
    font-size: 2rem;
}

p {
    font-size: 0.8rem;
    line-height: 2;
}
#booking {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}
#service {
    color:blue;
    font-weight: bold;
    text-decoration: underline;
}