body {
    background-color: black;
    line-height: 2;
}
h3 {
    color: white;
}
li {
    list-style-type: none;
    color: wheat;
    font-size: 0.7rem;
}

.line {
    text-decoration: underline;
}
.bold {
    color:grey;
    font-weight: bold;
    text-decoration: underline;
}