.secondary-btn {
    background-color: var(--grayscale-80);
    border: 1px solid var(--grayscale-80);
    color: #fff;
    padding: 13px 16px;
    font-size: var(--button);
}
.secondary-btn:active {
    background-color: var(--grayscale-90);
    border: 1px solid var(--grayscale-90);
}
.danger-btn {
    background-color: var(--red-light-30);
    border: 1px solid var(--red-light-30);
    color: #fff;
    padding: 13px 16px;
    font-size: var(--button);
}
.danger-btn:active {
    background-color: var(--red-light-50);
    border: 1px solid var(--red-light-50);
}