input[type="text"] {
    background-color: var(--grayscale-10);
    border-top: var(--grayscale-10);
    border-left: var(--grayscale-10);
    border-right: var(--grayscale-10);
    border-bottom: 1px solid var(--grayscale-40);
}
input[type="text"]:focus {
    /* TODO: focus 가 생겼을때 외곽선 없애기 */
    outline: none;
    border: 1px solid var(--blue-light-30);
}