#title1 {
    border-top: 2px solid black;
    padding: 5px;
    width: 30vw;
}
#title2 {
    border-left: 2px solid red;
    padding: 5px;
    width: 30vw;
}
#title3 {
    border: 2px solid skyblue;
    padding: 5px;
    width: 30vw;
    border-radius: 5px;
}