.example {
    width: 99vw;
    height: 0;
    background-image: url("../../img/7_7_1_example.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding-top: calc(4 / 16 * 100%); 
}