* {padding: 0;margin: 0; font-family: "Noto Sans KR", serif; box-sizing: border-box;}

#page {width: 99vw;height: 99vh;margin: 0 auto;}
nav {width: 100%;margin: 0 auto;}
nav .brand {text-align: center; padding:1.5rem;}
nav .fab {display:block; position:absolute; left:15px; top:25px;}
nav .fab img {width: 2rem;}
nav .fac {display:block; position:absolute; right:15px; top:25px;}
nav .fac img {width: 2rem;}
nav .menu {margin: 0 15px; /*display: none;*/}
nav .menu li {list-style-type: none; float:left; width:100%; border:1px solid var(--grayscale-20);}
nav .menu li a {height:3.75rem; display: flex; align-items: center; justify-content: center;}
nav .menu li a:hover {background-color: var(--blue-light-30); color: var(--white);}

@media screen and (min-width: 768px) {
  nav {width: 90%;}
  nav .brand {padding:2.3rem;}
  nav .fab {display:none;}
  nav .fac {display:none;}
  nav .menu {padding-top:5px;}
  nav .menu li {width:inherit; border:none;}
  nav .menu li a {padding:1rem 0.6rem;}
}

@media screen and (min-width: 1024px) {
  nav {width: 60%;}
}