.quiz {
    width: 100px;
    height: 100px;
    background-color: lightyellow;
    margin: 5px;
}
.quiz2 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin: 5px;
    display: none;
}