.example {
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1rem;
    background-color: lightskyblue;
}
.example > li {
    display: inline-block;
    margin-left: 1rem;
}