.quiz {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 10px;
    float: right;
}
.quiz2 {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
    float: left;
}
.dummy2 {
    clear: both;
}