.quiz {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 100px;
    top: 100px;
}
.quiz2 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 150px;
    top: 150px;
}