/* 1) phone 우선 디자인 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container {
    width: 80vw;
    height: 800px;
    margin: 1rem auto;
    background-color: beige;
}
header {
    height: 20%;
    background-color: gray;
}
nav li {
    display: inline-block;
    line-height: 5rem;
    height: 5rem;
}
section {
    float: none;
    width: 100%;
    height: 50%;
    background-color: aqua;
    padding: 0;
}
aside {
    float: none;
    width: 100%;
    height: 50%;
    background-color: blueviolet;
    padding: 0;
}
footer {
    height: 20%;
    background-color: brown;
}
/* pc */
/* tablet */
@media screen and (min-width: 768px){
    section {
        width: 70%;
        float: left;
    }
    aside {
        width: 30%;
        float: right;
    }
    footer {
        clear: both;
    }
}