body {
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
  background-color: lightgray;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.example {
  flex: 0 0 calc(33.333% - 10px);
  height: 300px;
  background-color: blue;
}