.container {
  width: 60vw;
  height: 90vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.example {
  width: 100px;
  height: 100px;
  background-color: blue;
}
