.heading {
    margin: 1rem 0 0 1rem;
}
ul {
    border: 1px solid black;
    width: 20vw;
    padding: 1rem 2rem 2rem 2rem;
    margin: 1rem 0 0 1rem;
}
li {
    padding: 10px 0 0 10px;
    list-style-type: none;
    border-bottom: 1px solid gray;
}
.text {
    margin-left: 1rem;   
    font-size: 1.2rem;
}
.bold {
    color: #FF1493;
    font-weight: bold;
}
.small {
    font-size: 10px;
    color: gray;
}