.primary-btn {
    background-color: var(--blue-light-30);
    border: 1px solid var(--blue-light-30);
    color: #fff;
    padding: 13px 16px;
    font-size: var(--button);
}
.primary-btn:active {
    background-color: #004BD8;
    border: 1px solid #004BD8;
}