* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  width: 90vw;
  margin: 0 auto;
}

.top {
  display: flex;
  flex-direction: column;
}
.menu {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.menu li {
  display: flex;
  margin-left: 1.5rem;
}
.main {
  width: 100%;
  height: 40vh;
  background-image: url("../../img/11_1_menu_1.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1199px) {
  .logo {
    font-size: 2rem;
  }
  .menu {
    font-size: 2rem;
  }
}
