* {margin: 0;padding: 0;box-sizing: border-box;}

#page {width: 90vw; margin: 0 auto;}

.logo {height: 3rem; margin: 10px 0;}
.menu {font-size: 1rem; height: 3rem; display: flex; align-items: center; margin: 10px 0;}
.menu li {display: inline-block;margin-left: 1.5rem;}
.main {height: 30vh; background-image: url("../../img/11_1_quiz_1.jpg"); background-position: center;
    background-size: cover;}

@media screen and (min-width: 768px) {
    .logo{float: left; font-size: 1rem;}
    .menu {float: right;font-size: 1rem;}
    .menu li {padding-right: 1rem}
    .main {clear: both;}
}

@media screen and (min-width: 1199px) {
    .main {height: 50vh;}
}