.main-banner {
    width: 100%; 
    height: 30vh;
    background-image: url("https://picsum.photos/600/400");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.container {width: 100%; margin: 10px auto; }
.content-area {width: 100%; display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;}
.content-box { flex: 0 0 calc(100%);}
.content-box > img {width: 100%;}

.product-area h2 {font-weight:bold; padding:1.5rem 0; color:var(--black);}
.product-list {display: flex; flex-wrap: wrap; gap: 10px;}
.product-list li {flex: 0 0 calc(50% - 10px); border: 1px solid var(--blue-light-10);}
.product-list li a {display:block; padding: 0.5rem; background-color: var(--blue-light-30);color: var(--white); text-align: center;}

.product-box {display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;}
.product {flex: 0 0 calc(100%);}
.product img {width: 100%;}
.product > p {padding-left: 5px;font-size: 0.8rem; color: var(--grayscale-50);}

@media screen and (min-width: 768px) {
  .container {width: 90%;}
  .content-box {flex: 0 0 calc(33% - 10px);}
  .product-list li {border:none; flex: none;}
  .product-list li a {background-color: var(--white);color: var(--black);}
  .product {flex: 0 0 calc(25% - 10px);}
}

@media screen and (min-width: 1024px) {
  .container {width: 60%;}
}