footer {
    clear: both;
    height: 3rem;
    background-color: beige;
    font-size: 14px;
    font-style: italic;
}
#address {
    height: 3rem;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
#address > div > h5 {
    margin: 4px 0 4px 0;
}
#address > div > p {
    margin: 4px 0 4px 0;
}
#customer {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}