/* container */
#container {padding-bottom:70px;}

/* main rolling */
.main_rolling_mobile {display: none;}
.visualRoll {position:relative; width:100%;}
.viewImgList {position:relative; width:100%;}
.viewImgList li {text-align:center; height:550px; line-height:550px;}
.viewImgList li.imglist0 {position:relative; z-index:50; background:url('../img/mainslide01.jpg') no-repeat center;}
.viewImgList li.imglist1 {position:absolute; width:100%; left:0; top:0; z-index:10; background:url('../img/mainslide02.jpg') no-repeat center;}
.viewImgList li.imglist2 {position:absolute; width:100%; left:0; top:0; z-index:10; background:url('../img/mainslide03.jpg') no-repeat center;}
.viewImgList li {background-size:cover !important;}
.viewImgList li .roll_content {position:relative;}
.viewImgList li .roll_content .roll_txtline {position:absolute; left:0; bottom:60px; width:100%; line-height:1; text-align:center; font-size:22px; color:#fff; letter-spacing:2px;}
.rollbtnArea {position:absolute; width:100%; left:0; bottom:25px; z-index:200;}
.rollbtnArea .rollingbtn {width:320px; margin:0 auto; text-align:center;}
.rollbtnArea .rollingbtn li {display:inline-block; margin-right:5px;}
.rollbtnArea .rollingbtn li.butt0 {margin-left:10px;}
.rollbtnArea .rollingbtn li.rollstop {}
.rollbtnArea .rollingbtn li.rollplay {display:none;}
.rollbtnArea .rollingbtn li a {vertical-align:top;}

/* about_area */
.about_area {}
.about_area h2 {padding:55px 0 105px; text-align:center; font-size:40px;}
.about_area .about_box {background:#f4f0e9;}
.about_area .place_list {}
.about_area .place_list li {float:left; width:32%; margin-left:2%; text-align:center; position:relative; top:-50px;}
.about_area .place_list li:first-child {margin-left:0;}
.about_area .place_list li .img_topplace {width:100%;}
.about_area .place_list li h3 {font-weight:bold; font-size:18px; padding-top:25px; color:#000;}
.about_area .place_list li p.txt {box-sizing:border-box; padding:10px 30px 0; width:100%; overflow:hidden; word-break:keep-all; line-height:1.8; color:#666;}
.about_area .place_list li .view {display:inline-block; margin-top:20px; padding-top:5px; border-top:2px solid #333; color:#666;}

/* app_area */
.appbbs_area {padding:60px 0;}
.appbbs_area .appbbs_box {}
.appbbs_box .app_line {float:left; width:66%; box-sizing:border-box; padding:45px 0; text-align:center; background:url(../img/bg_app.jpg) no-repeat; font-size:0;}
.appbbs_box .app_line a {display:inline-block; width:42.4%; height:100px; line-height:100px; box-sizing:border-box; padding-left:75px; text-align:left; background:rgba(0,0,0,0.3) url(../img/ico_katalk.png) no-repeat 20px 50%; border:2px solid #fff; margin-right:10px; font-size:26px; color:#fff; vertical-align:middle;}
.appbbs_box .app_line a + a {margin-right:0; padding-left:85px;background-image:url(../img/ico_phone.png);}
.appbbs_box .bbs_line {float:right; width:30%;}
.appbbs_box .bbs_line h3 {font-size:26px;}
.appbbs_box .bbs_line .notice_recent {padding-top:10px;}
.appbbs_box .bbs_line .notice_recent li {padding:8px 0;}
.appbbs_box .bbs_line .notice_recent li a {display:block; padding-left:14px; background:url(../img/ico_bullet.png) no-repeat 0 50%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
